# ignore all logfiles
*.log
# ignore all zipped files
*.zip
# ignore papers directory
papers/
*.pdf
# ignore fasta
*.fna
# ignore tsv
*.tsv
*.tab
# ignore raw 
raw/
# ignore DAtabases
CARD_rgi_analysis/localdb/*
# ignore json
*.json
